---
import PageLayout from '@/components/layouts/PageLayout.astro';
import Button from '@/components/button';
import '@/assets/style/blog.css';
---

<PageLayout title="导览册">
  <div class="mb-16" slot="header">
    <Button id="back">←</Button>
  </div>
  <div class="blog-content">
    <div class="mb-16">
      <h1>导览册</h1>
    </div>
    <div class="post-content heti">
      <img src="/rin.png" style="width: calc(var(--spacing)* 28); height: calc(var(--spacing)* 28); border-radius: 3.40282e38px; border-style: var(--tw-border-style); border-width: 4px; border-color: var(--color-white);" />
      <h3 style="text-align: center;">泷美道</h3>
      <div style="display: flex; gap: calc(var(--spacing)* 3); align-items: center; justify-content: center;">
        <a href="https://bento.me/lmd">Bento</a>
        <span>·</span>
        <a href="mailto:longmeidao@pm.me">寄信</a>
      </div>
    </div>
  </div>

</PageLayout>

<script>
  const backBtn = document.getElementById('back');
  backBtn?.addEventListener('click', () => {
    window.location.href = '/';
  });
</script>